@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Acaciano neves)?</h3>
</div>

<br />
<a class="btn btn-primary btn-lg btn-block d-block w-100" role="button" asp-asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<br />
<a class="btn btn-secondary btn-lg btn-bloc d-block w-100" role="button" asp-asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>